main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    display: flex;

    > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    section {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}