.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 100px);
        margin: 30px 0;

        .form-controller {
            width: 100%;
            height: auto;
            border-radius: 30px;
            padding: 5px 20px;
            background-color: #FFF;
            border: none;
            outline: none;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            transition: padding .1s ease-in-out;

            > input {
                width: calc(100% - 30px);
                height: 40px;
                background: none;
                border: none;
                outline: none;
                font-size: 18px;
                color: #3B3B3B;
            }

            > .dropdown {
                width: 100%;
                height: 0;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                font-size: 18px;
                color: #3B3B3B;
                transition: height .3s ease-in-out, padding .1s ease-in-out;
            }

            &.active {
                padding-bottom: 0;

                > .dropdown {
                    height: 200px;
                }
            }
        }

        > div {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        #country {
            background-image: url('../../../assets/icons/sort-down.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - 20px) 22px;
            background-size: 18px;
            cursor: pointer;

            > input {
                pointer-events: none;
                width: calc(100% - 30px);
                margin-right: 30px;
            }

            > .dropdown {
                width: calc(100% - 15px);
                margin-left: -15px;

                > span {
                    padding: 5px 10px;
                    margin-left: -10px;
                    border-radius: 20px;

                    &:hover {
                        background-color: #EBEBEB;
                    }

                    &.active {
                        background-color: #CBCBCB;
                    }
                }
            }

            &.active {
                background-image: url('../../../assets/icons/sort-up.svg');
            }

            &.invisible {
                visibility: hidden;
            }
        }

        #search {
            background-image: url('../../../assets/icons/search.svg');
            background-repeat: no-repeat;
            background-position: 20px 18px;
            background-size: 18px;
            position: relative;
            margin-bottom: 110px;
            z-index: 9;

            > input {
                width: calc(100% - 30px);
                margin-left: 30px;
            }

            > .count {
                min-width: 20px;
                height: 20px;
                padding: 5px 4px;
                background-color: #E9E9F8;
                color: #9B9BD7;
                border-radius: 15px;
                font-size: 15px;
                position: absolute;
                z-index: 9;
                right: 20px;
                top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .social-network {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                > .detail {
                    position: relative;
                    height: 55px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    background-color: #F7F7FF;
                    border-radius: 10px;
                    user-select: none;
                    cursor: pointer;

                    > img {
                        width: 25px;
                        height: 25px;
                        object-fit: contain;
                        margin: 0 15px;
                    }

                    > .arrow {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        right: 20px;
                        visibility: hidden;

                        &.down {
                            visibility: visible;
                        }
                    }
                }

                .info {
                    height: 0;
                    padding: 0 15px;
                    overflow: hidden;
                    transition: height .3s ease-in-out;

                    > h4 {
                        margin: 0;
                        margin-top: 20px;
                        font-weight: 600;
                        font-size: 18px;
                        text-align: center;
                        color: #885ACB;
                    }

                    > h5 {
                        margin: 10px 0;
                        font-size: 15px;
                        text-align: center;
                        color: #636363;
                    }

                    > .companies {
                        height: 250px;
                        overflow: auto;
                        text-decoration: none;
                        padding: 0;

                        .company {
                            width: 100%;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            user-select: none;
                            cursor: pointer;
                            filter: grayscale(80%);

                            &.selected {
                                filter: none;
                            }

                            .checkbox {
                                position: relative;
                                width: 16px;
                                height: 16px;
                                border: 1px solid #9B9B9B;
                                border-radius: 50%;
                                margin: 5px;
                        
                                &.selected {
                                    border-color: #9B9BD7;
                        
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        width: 10px;
                                        height: 10px;
                                        top: 3px;
                                        left: 3px;
                                        background-color: #9B9BD7;
                                        border-radius: 50%;
                                    }
                                }
                            }
                            
                            > .logo {
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                margin: 0 5px;
                                object-fit: contain;
                            }

                            > small {
                                margin: 0 5px;
                            }

                            .verified {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }

                    .companies-nav {
                        height: 50px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        
                        .left, .right{
                            width: 15px;
                            height: 15px;
                            padding: 5px;
                            cursor: pointer;

                            &.disabled {
                                cursor: not-allowed;
                                opacity: .5;
                            }
                        }

                        .page {
                            width: 50%;
                            text-align: center;
                            user-select: none;
                        }
                    }
                }

                &.active {

                    > .detail > .arrow {
                        &.up {
                            visibility: visible;
                        }
    
                        &.down {
                            visibility: hidden;
                        }
                    }

                    .info {
                        height: 385px;
                    }
                }
            }

            &.active {
                position: absolute;
                width: calc(100% - 100px);
                top: 50px;

                > .dropdown {
                    height: 600px;
                }
            }
        }

        #close {
            position: absolute;
            right: 25px;
            top: 15px;
            cursor: pointer;
            padding: 5px;
        }

        #btn-show {
            min-width: 125px;

            &.active {
                position: fixed;
                bottom: 0;
                left: calc(50% - 90px);
                margin-bottom: 30px;
            }
        }
    }

    .play {
        width: 86px;
        height: 86px;
        margin: 25px;
        background-color: #000000aa;
        color: #fff;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        > span {
            margin-top: 10px;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}

@media (min-width: 768px) {
    .container {
        .inputs {
            position: relative;
            flex-direction: row;
            align-items: center;

            #close {
                display: none;
            }

            #country {
                width: calc(25% - 50px);
                position: absolute;
                top: 0;

                &.invisible {
                    visibility: visible;
                }
            }
            
            #search { 
                margin: 0;
                width: calc(75% - 175px);
                position: absolute;
                left: 25%;
                top: 0;

                &.active {
                    width: calc(75% - 175px);
                    position: absolute;
                    top: 0;
                }
            }

            #btn-show {
                position: absolute;
                width: 125px;
                right: 0;
                top: 0;
                height: 50px;

                &.active {
                    position: absolute;
                    left: unset;
                }
            }
        }
    }
}