<div class="container">
  <div class="inputs">
    <div id="country" class="form-controller" [ngClass]="{active: showContries, invisible: showSearch}" (click)="showContries = !showContries"
      (clickOutside)="showContries = false">
      <input type="text" name="country" [value]="selectedCountry && selectedCountry.name" disabled>
      <div class="dropdown">
        <span *ngFor="let country of countries" [ngClass]="{active: country == selectedCountry}"
          (click)="onSelectCountry(country)">{{country.name}}</span>
      </div>
    </div>
    <img src="../../../assets/icons/close.svg" alt="X" id="close" *ngIf="showSearch" (click)="showSearch = false">
    <div id="search" class="form-controller" [ngClass]="{active: showSearch}" (clickOutside)="showSearch = false">
      <input type="text" name="search" placeholder="Busca tu marca, URL o #topic"
        (focus)="showSearch = true; onSearchChange($event.target.value)" (input)="onSearchChange($event.target.value)">
      <small class="count" *ngIf="count > 0">+ {{count}}</small>
      <div class="dropdown">
        <div *ngFor="let sn of socialNetworks" class="social-network" [ngClass]="{active: sn.open}"
          [hidden]="sn.total==0">
          <div class="detail" (click)="sn.open = !sn.open; sn.page = 1;">
            <img [src]="sn.logo" [alt]="sn.code">
            <span>{{sn.name}}</span>
            <svg class="arrow down" xmlns="http://www.w3.org/2000/svg" width="18" height="8" viewBox="0 0 18 8">
              <path
                d="M9,6.688,1.12.159a.754.754,0,0,0-.927,0,.479.479,0,0,0,0,.768L8.537,7.841a.754.754,0,0,0,.926,0L17.808.927a.48.48,0,0,0,0-.768.752.752,0,0,0-.926,0Z"
                fill="#9B9BD7" />
            </svg>
            <svg class="arrow up" xmlns="http://www.w3.org/2000/svg" width="12" height="5" viewBox="0 0 12 5">
              <path
                d="M6,4.18.746.1A.529.529,0,0,0,.129.1a.288.288,0,0,0,0,.48L5.692,4.9a.529.529,0,0,0,.617,0L11.872.58a.289.289,0,0,0,0-.48.528.528,0,0,0-.618,0Z"
                transform="translate(12 5) rotate(180)" fill="#9B9BD7" />
            </svg>
          </div>
          <div class="info">
            <h4>¡Selecciona una marca!</h4>
            <h5>Estas son las páginas que administras:</h5>
            <div class="companies">
              <div class="company"
                *ngFor="let company of sn.companies | filter: search | slice:sn.page?sn.page*5-5:0:sn.page*5;"
                (click)="company.selected = !company.selected; count = company.selected ? count+1 : count-1" [ngClass]="{selected: company.selected}">
                <div class="checkbox" [ngClass]="{selected: company.selected}"></div>
                <img class="logo" [src]="company.logo" alt="logo">
                <strong>{{company.name}}</strong>
                <small>@{{company.user}}</small>
                <img class="verified" [hidden]="!company.verified" src="../../assets/icons/check.svg" alt="Verified">
              </div>
            </div>
            <div class="companies-nav">
              <svg class="left" [ngClass]="{disabled: sn.page == 1}" (click)="sn.page!=1 && sn.page = sn.page-1"
                xmlns="http://www.w3.org/2000/svg" width="6" height="13" viewBox="0 0 6 13">
                <path
                  d="M.825,6a.84.84,0,0,1-.634-.284.764.764,0,0,1,.1-1.105L5.961.189a.846.846,0,0,1,1.067,0L12.7,4.611a.74.74,0,0,1,.1,1.105.874.874,0,0,1-1.167.095L6.495,1.8,1.359,5.811A.845.845,0,0,1,.825,6"
                  transform="translate(0 13) rotate(-90)" fill="#9b9bd7" />
              </svg>
              <div class="page">
                {{sn.page}} de {{ sn.total }}
              </div>
              <svg class="right" [ngClass]="{disabled: sn.page == sn.total}"
                (click)="sn.page < sn.total && sn.page = sn.page+1"
                xmlns="http://www.w3.org/2000/svg" width="6" height="13" viewBox="0 0 6 13">
                <path
                  d="M.825,6a.84.84,0,0,1-.634-.284.764.764,0,0,1,.1-1.105L5.961.189a.846.846,0,0,1,1.067,0L12.7,4.611a.74.74,0,0,1,.1,1.105.874.874,0,0,1-1.167.095L6.495,1.8,1.359,5.811A.845.845,0,0,1,.825,6"
                  transform="translate(6) rotate(90)" fill="#9b9bd7" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="btn-show" class="btn-primary" [ngClass]="{active: showSearch}" (click)="onShowCompanies()">Mostrar</button>
  </div>
  <div class="play">
    <img src="../../assets/icons/play.svg">
    <span>Ver video</span>
  </div>
</div>