body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
      
    ::-webkit-scrollbar-track {
        background-color: transparent; 
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #EBEBEB; 
        border-radius: 4px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #CBCBCB;
    }

    .btn-primary {
        width: 180px;
        height: 45px;
        border-radius: 50px;
        padding: 5px 20px;
        border: none;
        outline: none;
        font-size: 15px;
        text-transform: uppercase;
        background-color: #F8CB1C;
        cursor: pointer;
    }
}