<div class="companies-detail">
  <h4 class="title">Compañías seleccionadas</h4>
  <div class="companies">
    <div class="company" *ngFor="let company of selectedCompanies">
      <div>
        <div class="image-wrapper">
          <img class="logo" [src]="company.logo" alt="logo">
        </div>
        <div class="info">
          <div>
            <strong>{{company.name}} {{company.country}}</strong>
            <svg class="verified" [hidden]="!company.verified" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 8.929 8.967">
              <g transform="translate(0)">
                <path
                  d="M8.625,3.751l-.655-.66V2A1.029,1.029,0,0,0,6.934.966H5.847L5.192.307a1.016,1.016,0,0,0-1.454,0l-.655.66H1.995A1.038,1.038,0,0,0,.959,2v1.1L.3,3.751a1.034,1.034,0,0,0,0,1.465l.655.66v1.1A1.029,1.029,0,0,0,1.995,8H3.082l.655.66a1.016,1.016,0,0,0,1.454,0L5.847,8H6.934A1.038,1.038,0,0,0,7.97,6.972v-1.1l.655-.66a1.034,1.034,0,0,0,0-1.465"
                  fill="#2d95ea" />
                <path
                  d="M1.686,3.587.134,2.024a.464.464,0,0,1,0-.653.456.456,0,0,1,.648,0l.9.91L3.817.135a.456.456,0,0,1,.648,0,.462.462,0,0,1,0,.652Z"
                  transform="translate(2 3)" fill="#fff" />
              </g>
            </svg>
          </div>
          <small>@{{company.user}}</small>
        </div>
      </div>
      <div class="overflow-info">
        <span>{{company.extract}}</span>
      </div>
    </div>
  </div>
  <a id="btn-back" class="btn-primary" routerLink="/">Regresar</a>
</div>