.companies-detail {
    width: 90%;
    margin: 15px auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #fff;
    }

    .companies {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .company {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            background-color: #EBEBEB;
            color: #3B3B3B;
            padding: 10px 15px;
            border-radius: 15px;
            position: relative;
            overflow: hidden;

            &:last-child {
                margin-bottom: 0;
            }
            
            > div {
                width: 100%;
                height: 50px;
                display: flex;

                .image-wrapper {
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                > .info {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 15px;

                    > div {
                        display: flex;
                        align-items: center;

                        .verified {
                            margin-left: 5px;
                            width: 15px;
                        }
                    }
                }
            }

            > .overflow-info {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                align-items: center;
                justify-content: center;
                background-color: #000000de;
                color: #fff;
                opacity: 0;
                transition: opacity .25s ease-in;
            }

            &:hover {

                > .overflow-info {
                    opacity: 1;
                }  
            }
        }
    }

    #btn-back {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #3B3B3B;
        margin: 25px 0;
    }
}

@media (min-width: 768px) {
    .companies-detail {
        .companies {
            .company {
                width: calc(50% - 50px);
            }
        }
    }
}